<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>
                NLP EVALUATION
            </h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return client.handleSubmit(event)">
                    <input id="input_url" type="text" name="input" onblur="onBlur()" value="" placeholder="Input Article URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Article validation:</strong>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="irony"></div>
                <div id="score_tag"></div>
                <div id="confidence"></div>
            </section>
        </main>

        <footer>
            <p>Udacity Front-End development project</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
